matrix:
    - openmpi
    - hpcx_openmpi
    - intel_mpi
    - mpi_off


intel_mpi:
    build:
      modules:
        - ninja
        - intel-mpi
      modules_package:
        - eckit:intel-mpi
        - atlas:intel-mpi
      dependency_cmake_options:
        - "ecmwf/mir: '-DENABLE_BUILD_TOOLS=ON'"
        - "ecmwf/fdb: '-DENABLE_LUSTRE=OFF'"
      dependencies:
        - ecmwf/ecbuild@develop
        - ecmwf/eccodes@develop
        - ecmwf/eckit@develop
        - ecmwf/metkit@develop
        - ecmwf/fckit@develop
        - ecmwf/fdb@develop
        - ecmwf/atlas@develop
        - ecmwf/atlas-orca@develop
        - ecmwf/mir@develop
      parallel: 64
      ntasks: 16
      env:
        - CTEST_PARALLEL_LEVEL=1
        - ECCODES_SAMPLES_PATH=$ECCODES_DIR/share/eccodes/samples
        - ECCODES_DEFINITION_PATH=$ECCODES_DIR/share/eccodes/definitions

hpcx_openmpi:
    build:
      modules:
        - ninja
        - hpcx-openmpi
      modules_package:
        - eckit:hpcx-openmpi
        - atlas:hpcx-openmpi
      dependency_cmake_options:
        - "ecmwf/mir: '-DENABLE_BUILD_TOOLS=ON'"
        - "ecmwf/fdb: '-DENABLE_LUSTRE=OFF'"
      dependencies:
        - ecmwf/ecbuild@develop
        - ecmwf/eccodes@develop
        - ecmwf/eckit@develop
        - ecmwf/metkit@develop
        - ecmwf/fckit@develop
        - ecmwf/fdb@develop
        - ecmwf/atlas@develop
        - ecmwf/atlas-orca@develop
        - ecmwf/mir@develop
      parallel: 64
      ntasks: 16
      env:
        - CTEST_PARALLEL_LEVEL=1
        - ECCODES_SAMPLES_PATH=$ECCODES_DIR/share/eccodes/samples
        - ECCODES_DEFINITION_PATH=$ECCODES_DIR/share/eccodes/definitions

openmpi:
    build:
      modules:
        - ninja
        - openmpi
      modules_package:
        - eckit:openmpi
        - atlas:openmpi
      dependency_cmake_options:
        - "ecmwf/mir: '-DENABLE_BUILD_TOOLS=ON'"
        - "ecmwf/fdb: '-DENABLE_LUSTRE=OFF'"
      dependencies:
        - ecmwf/ecbuild@develop
        - ecmwf/eccodes@develop
        - ecmwf/eckit@develop
        - ecmwf/metkit@develop
        - ecmwf/fckit@develop
        - ecmwf/fdb@develop
        - ecmwf/atlas@develop
        - ecmwf/atlas-orca@develop
        - ecmwf/mir@develop
      parallel: 64
      ntasks: 16
      env:
        - CTEST_PARALLEL_LEVEL=1
        - ECCODES_SAMPLES_PATH=$ECCODES_DIR/share/eccodes/samples
        - ECCODES_DEFINITION_PATH=$ECCODES_DIR/share/eccodes/definitions

mpi_off:
    build:
      modules:
        - ninja
      dependency_cmake_options:
        - "ecmwf/mir: '-DENABLE_BUILD_TOOLS=ON'"
        - "ecmwf/fdb: '-DENABLE_LUSTRE=OFF'"
      dependencies:
        - ecmwf/ecbuild@develop
        - ecmwf/eccodes@develop
        - ecmwf/eckit@develop
        - ecmwf/metkit@develop
        - ecmwf/fckit@develop
        - ecmwf/fdb@develop
        - ecmwf/atlas@develop
        - ecmwf/atlas-orca@develop
        - ecmwf/mir@develop
      parallel: 64
      env:
        - CTEST_PARALLEL_LEVEL=1
        - ECCODES_SAMPLES_PATH=$ECCODES_DIR/share/eccodes/samples
        - ECCODES_DEFINITION_PATH=$ECCODES_DIR/share/eccodes/definitions
